.no-activities-here {
  text-align: center;
}

.activity {}

.activity .activity__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.activity .activity__meta a:hover {
  text-decoration: none;
}


.btn-add-new-activity {
  position: fixed;
  bottom: 20px;
  right: 20px;
}